.Button {
  background-color: rgba(110, 93, 75, 0.5);
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 2rem;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}

.Button:hover {
  background-color: rgb(110, 93, 75);
  color: white;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: rgb(110, 93, 75);
}

.Danger {
  color: #49788d;
}
